@import './base.css';

/*
  Main
*/

html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  user-select: none;
  scrollbar-width: thin;
  scrollbar-color: darkgrey lightgrey;
}

#app {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  height: 100%;
  padding-top: var(--space-xl);
  padding-bottom: var(--space-l);
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
  gap: var(--space-xl);
}

header {
  flex: 0;
}

main {
  flex: 1;
}

footer {
  flex: 0;
  text-align: center;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

code {
  font-weight: 600;
  padding: var(--space-xs) var(--space-s);
  border-radius: var(--space-xs);
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

.uppercase {
  text-transform: uppercase;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  -webkit-user-drag: none;
  height: var(--space-xl);
  width: var(--space-xl);
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 1.2em #6988e6aa);
}

.title {
  font-size: 28px;
  color: var(--ev-c-text-1);
  font-weight: 700;
  line-height: var(--space-xl);
  text-align: center;
}

.subtitle {
  font-size: 20px;
  color: var(--ev-c-text-1);
  font-weight: 700;
  line-height: var(--space-xl);
  text-align: center;
}

.tip {
  font-size: 16px;
  line-height: 24px;
  color: var(--ev-c-text-2);
  font-weight: 600;
}

.hidden {
  display: none;
}

.rounded {
  aspect-ratio: 1;
  border-radius: 50% !important;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity: 0.7;
  }
  70% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.95);
    opacity: 0.7;
  }
}
.pulse {
  animation: pulse 2s infinite;
}

.actions {
  overflow: scroll;
  display: flex;
  padding-top: var(--space-xl);
  flex-wrap: wrap;
  justify-content: flex-start;
}

.action {
  flex-shrink: 0;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  border-radius: var(--space-l);
  padding: 0 var(--space-l);
  line-height: var(--space-xl);
  font-size: 14px;
  border-color: var(--ev-button-alt-border);
  color: var(--ev-button-alt-text);
  background-color: var(--ev-button-alt-bg);
}
.action:hover {
  border-color: var(--ev-button-alt-hover-border);
  color: var(--ev-button-alt-hover-text);
  background-color: var(--ev-button-alt-hover-bg);
}
.action:disabled {
  cursor: not-allowed;
  border-color: var(--ev-c-gray-3);
  color: var(--ev-c-text-3);
  background-color: var(--ev-c-gray-2);
}


/*
  Home page
*/

.home-page {
  display: flex;
  flex-direction: column;
  gap: var(--space);
}

/*
  Devices page
*/

.devices-page {
  display: flex;
  flex-direction: column;
  gap: var(--space);
}

.devices-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--space);
}

.devices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.device {
  padding: 5px;
}
.device .action {
  width: 100%;
}


/*
  DeviceSetup page
*/

.device-page {
  display: flex;
  flex-direction: column;
  gap: var(--space);
}

.device-container {

}

.device-run-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.device-run-container .action {
  width: 100px;
}

